<a href="https://colab.research.google.com/github/Lins0104/Talento-Tech/blob/main/Actividad_Linsdey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/Colab Notebooks/Data/ventas2.xlsx'

In [ ]:
import pandas as pd

In [ ]:
df_ventas = pd.read_excel(path)

#Ejercicios

In [ ]:
#Ejercicio 1: Mostrar las primeras filas del DataFrame
print("Ejercicio 1: Mostrar las primeras filas del DataFrame")
print(df_ventas.head(5))

Ejercicio 1: Mostrar las primeras filas del DataFrame
   Fecha   Region      Producto Vendedor  Ventas
0  45322  Central    Accesorios    David    8287
1  45323  Central    Accesorios    Karen    6909
2  45324  Central  Dispositivos    David   11420
3  45325  Central  Dispositivos    Karen   12948
4  45326  Central      Sistemas    David   20098

In [ ]:
#Ejercicio 2: Calcular el total de ventas por región
print("Ejercicio 2: Calcular el total de ventas por región")
ventas_por_region = df_ventas.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print("\n")
print(df_ventas.head(10))

Ejercicio 2: Calcular el totoal de ventas por región
Region
Central    90295
Este       63555
Oeste      85683
Name: Ventas, dtype: int64


   Fecha   Region      Producto Vendedor  Ventas
0  45322  Central    Accesorios    David    8287
1  45323  Central    Accesorios    Karen    6909
2  45324  Central  Dispositivos    David   11420
3  45325  Central  Dispositivos    Karen   12948
4  45326  Central      Sistemas    David   20098
5  45327  Central      Sistemas    Karen   30633
6  45328     Este    Accesorios      Ana    9323
7  45329     Este    Accesorios    Lucas    7667
8  45330     Este  Dispositivos      Ana   10348
9  45331     Este  Dispositivos    Lucas    9312

In [ ]:
#Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David.
print("Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David.")
ventas_david = df_ventas[df_ventas['Vendedor'] == 'David']
print(ventas_david)

Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David.
   Fecha   Region      Producto Vendedor  Ventas
0  45322  Central    Accesorios    David    8287
2  45324  Central  Dispositivos    David   11420
4  45326  Central      Sistemas    David   20098

In [ ]:
#Ejercicio 4 : Calcular el promedio de ventas por region
print("Ejercicio 4 : Calcular el promedio de ventas por region ")
ventas_por_region = df_ventas.groupby('Region')['Ventas'].mean()
print(ventas_por_region)

Ejercicio 4 : Calcular el promedio de ventas por region
Region
Central    15049.166667
Este       10592.500000
Oeste      14280.500000
Name: Ventas, dtype: float64

In [ ]:
#Ejercicio 5 : Calcular el promedio de ventas por region
print("Ejercicio 5 : Calcular el promedio de ventas por region ")
ventas_por_region = df_ventas.groupby('Region')['Ventas'].mean().round(2)
print(ventas_por_region)

Ejercicio 5 : Calcular el promedio de ventas por region
Region
Central    15049.17
Este       10592.50
Oeste      14280.50
Name: Ventas, dtype: float64

In [ ]:
#Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente
print("Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente ")
df_ordenado = df_ventas.sort_values(by= 'Ventas', ascending=False)
print(df_ordenado)

Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente
    Fecha   Region      Producto Vendedor  Ventas
16  45338    Oeste      Sistemas    Kevin   32855
5   45327  Central      Sistemas    Karen   30633
17  45339    Oeste      Sistemas     Sara   23151
4   45326  Central      Sistemas    David   20098
10  45332     Este      Sistemas      Ana   13531
11  45333     Este      Sistemas    Lucas   13374
3   45325  Central  Dispositivos    Karen   12948
2   45324  Central  Dispositivos    David   11420
14  45336    Oeste  Dispositivos    Kevin   10711
8   45330     Este  Dispositivos      Ana   10348
6   45328     Este    Accesorios      Ana    9323
9   45331     Este  Dispositivos    Lucas    9312
15  45337    Oeste  Dispositivos     Sara    8780
0   45322  Central    Accesorios    David    8287
7   45329     Este    Accesorios    Lucas    7667
1   45323  Central    Accesorios    Karen    6909
13  45335    Oeste    Accesorios     Sara    5442
12  45334    Oeste    Accesorios    Kevin    4744

In [ ]:
#Ejercicios 7: Filtara las filas con ventas mayores a 10000 y ordenar de mayor a menor
print("Ejercicios 7: Filtara las filas con ventas mayores a 10000 y ordenar de mayor a menor")
df_filtrado = df_ventas[df_ventas['Ventas'] > 10000].sort_values(by='Ventas', ascending=True)
print(df_filtrado)

Ejercicios 7: Filtara las filas con ventas mayores a 10000 y ordenar de mayor a menor
    Fecha   Region      Producto Vendedor  Ventas
8   45330     Este  Dispositivos      Ana   10348
14  45336    Oeste  Dispositivos    Kevin   10711
2   45324  Central  Dispositivos    David   11420
3   45325  Central  Dispositivos    Karen   12948
11  45333     Este      Sistemas    Lucas   13374
10  45332     Este      Sistemas      Ana   13531
4   45326  Central      Sistemas    David   20098
17  45339    Oeste      Sistemas     Sara   23151
5   45327  Central      Sistemas    Karen   30633
16  45338    Oeste      Sistemas    Kevin   32855

In [ ]:
# Ejercicio 8: Ordenar el DataFrame por ventas en orden descendente
print( "Ejercicio 8: Ordenar el DataFrame por ventas en orden descendente")
df_ordenado = df_ventas.sort_values(by= 'Ventas', ascending=False)
print(df_ordenado)

Ejercicio 8: Ordenar el DataFrame por ventas en orden descendente
    Fecha   Region      Producto Vendedor  Ventas
16  45338    Oeste      Sistemas    Kevin   32855
5   45327  Central      Sistemas    Karen   30633
17  45339    Oeste      Sistemas     Sara   23151
4   45326  Central      Sistemas    David   20098
10  45332     Este      Sistemas      Ana   13531
11  45333     Este      Sistemas    Lucas   13374
3   45325  Central  Dispositivos    Karen   12948
2   45324  Central  Dispositivos    David   11420
14  45336    Oeste  Dispositivos    Kevin   10711
8   45330     Este  Dispositivos      Ana   10348
6   45328     Este    Accesorios      Ana    9323
9   45331     Este  Dispositivos    Lucas    9312
15  45337    Oeste  Dispositivos     Sara    8780
0   45322  Central    Accesorios    David    8287
7   45329     Este    Accesorios    Lucas    7667
1   45323  Central    Accesorios    Karen    6909
13  45335    Oeste    Accesorios     Sara    5442
12  45334    Oeste    Accesorios    Kevin    4744

In [ ]:
#Ejercicio 9: Elimar la columna vendedor
print("Ejercicio 9: Elimar la columna vendedor")
df_sin_ventas = df_ventas.drop(columns= ['Vendedor'])
print(df_sin_ventas)

Ejercicio 9: Elimar la columna vendedor
    Fecha   Region      Producto  Ventas
0   45322  Central    Accesorios    8287
1   45323  Central    Accesorios    6909
2   45324  Central  Dispositivos   11420
3   45325  Central  Dispositivos   12948
4   45326  Central      Sistemas   20098
5   45327  Central      Sistemas   30633
6   45328     Este    Accesorios    9323
7   45329     Este    Accesorios    7667
8   45330     Este  Dispositivos   10348
9   45331     Este  Dispositivos    9312
10  45332     Este      Sistemas   13531
11  45333     Este      Sistemas   13374
12  45334    Oeste    Accesorios    4744
13  45335    Oeste    Accesorios    5442
14  45336    Oeste  Dispositivos   10711
15  45337    Oeste  Dispositivos    8780
16  45338    Oeste      Sistemas   32855
17  45339    Oeste      Sistemas   23151

In [ ]:
#Ejercicio 10: Calcular  el total de ventas por region
print("Ejercicio 10: Calcular  el total de ventas por region")
ventas_por_region = df_ventas.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print("\n")

Ejercicio 10: Calcular  el total de ventas por region
Region
Central    90295
Este       63555
Oeste      85683
Name: Ventas, dtype: int64

In [ ]:
#Ejercicio 10: Calcular  el total de ventas por producto
print("Ejercicio 10: Calcular  el total de ventas por producto")
ventas_por_producto = df_ventas.groupby('Producto')['Ventas'].sum()
print(ventas_por_producto)
print("\n")

Ejercicio 10: Calcular  el total de ventas por producto
Producto
Accesorios       42372
Dispositivos     63519
Sistemas        133642
Name: Ventas, dtype: int64

##DataSet 1

In [ ]:
file_path= '/content/drive/MyDrive/Colab Notebooks/Data/Dataset 1.csv'
df_person = pd.read_csv(file_path)
print(df_person)

   id   weight  height  age gender
0    1   144.5     5.9   33      M
1    2   167.2     5.4   45      M
2    3   124.1     5.2   23      F
3    4   144.5     5.9   33      M
4    5   133.2     5.7   54      F
5    3   124.1     5.2   23      F
6    5   129.2     5.3   42      M

In [ ]:
df_person.head()

   id   weight  height  age gender
0    1   144.5     5.9   33      M
1    2   167.2     5.4   45      M
2    3   124.1     5.2   23      F
3    4   144.5     5.9   33      M
4    5   133.2     5.7   54      F

In [ ]:
#Cambiar el nombre de las columnas del df_nombres (weight, height, age, gender)
df_nombres = df_person.rename(columns={'weight': 'Peso', 'height': 'Estatura', 'age': 'Edad', 'gender': 'Genero'})
print(df_nombres)

   id    Peso  Estatura  Edad Genero
0    1  144.5       5.9    33      M
1    2  167.2       5.4    45      M
2    3  124.1       5.2    23      F
3    4  144.5       5.9    33      M
4    5  133.2       5.7    54      F
5    3  124.1       5.2    23      F
6    5  129.2       5.3    42      M

In [ ]:
#Factores de conversion
lbs_to_kg = 0.453592
estatura_to_mt = 0.3048

#Crear un DataFrame llamado df_convertido
df_convertido = df_nombres

#Convertir peso a kg
df_convertido['Peso_Nuevo'] = df_convertido['Peso'] * lbs_to_kg

#Convertir estatura a metros
df_convertido['Estatura']= df_person['Estatura'] * estatura_to_mt

#Mostrar el DataFrame actualizado
print(df_convertido)

   id    Peso  Estatura  Edad Genero  Peso_Nuevo
0    1  144.5       5.9    33      M   65.544044
1    2  167.2       5.4    45      M   75.840582
2    3  124.1       5.2    23      F   56.290767
3    4  144.5       5.9    33      M   65.544044
4    5  133.2       5.7    54      F   60.418454
5    3  124.1       5.2    23      F   56.290767
6    5  129.2       5.3    42      M   58.604086

KeyError: 'Estatura'

## DataSet 2

In [ ]:
file_path= '/content/drive/MyDrive/Colab Notebooks/Data/Dataset 2.csv'
df_DataSet2 = pd.read_csv(file_path)
print(df_DataSet2)

   id  weight height  age
0    1  143,5    5,3   28
1    2  154,2    5,5   45
2    3  342,3    5,1   99
3    4  144,5    5,5   33
4    5  133,2    5,4   54
5    6  124,1    5,1   21
6    7  129,2    5,3   42

## DataSet 3

In [ ]:
file_path= '/content/drive/MyDrive/Colab Notebooks/Data/Dataset 3.csv'
df_DataSet3 = pd.read_csv(file_path)
print(df_DataSet3)

   id weight height   age grender    income
0   1  143,5    5,6  28.0       M  100000.0
1   2  167,2    5,4  45.0       M       NaN
2   3    NaN    5,2   NaN     NaN       NaN
3   4  144,5    5,9  33.0       M       NaN
4   5  133,2    5,7  54.0       F       NaN
5   6  124,1    5,2   NaN       F       NaN
6   7  129,2    5,3  42.0       M   76000.0